Options All -Indexes
RewriteEngine on
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^(.*)$ https://kanexys.com/ingresar/index.php?path=$1 [NC,L,QSA]
RewriteCond %{REQUEST_URI} !^/.*$
RewriteRule ^(.*)$ https://kanexys.com/ingresar/$1 [QSA,L]